body {
  margin: 0;
  overflow: hidden;
  background: url('/static/textures/sky.jpg') no-repeat center center fixed; /* Add a sky image */
  background-size: cover; /* Ensure the background image covers the whole screen */
}

#game-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#game-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Add spacing between elements */
}

#game-panel button,
#game-panel input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

#reset-game,
#home-button {
  position: absolute;
  top: 10px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Initially hidden */
}

#reset-game {
  left: 12px;
  background: #0369a1;
}

#home-button {
  left: 120px; /* Place home button next to reset button */
  background: #2d7f39; /* Different color for home button */
}

#score {
  position: absolute;
  top: 10px;
  left: 1050px;
  color: white;
  font-size: 20px;
}

#high-score {
  position: absolute;
  top: 10px;
  left: 1180px;
  color: white;
  font-size: 20px;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#loading-screen::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 4px solid white;
  border-top: 4px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#progress-container {
  width: 60%;
  height: 20px;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: blue;
  transition: width 0.01s ease-in-out;
}

#progress-text {
  font-size: 20px;
  margin-top: 10px;
}

#loading-text {
  font-size: 22px;
  color: #fff;
  margin-top: 3px;
  font-family: Arial, sans-serif;
}

#game-panel {
  display: none; /* Hide the game panel initially */
}

@media (max-width: 768px) {
  #score,
  #high-score {
    font-size: 16px;
    left: auto;
    right: 10px;
    top: 10px;
  }
}

#hearts-container {
  position: absolute; /* Use absolute positioning */
  top: -3px; /* Distance from the top */
  left: 930px; /* Distance from the left */
  z-index: 100; /* Ensure it appears above other elements */
  font-size: 24px; /* Adjust font size as needed */
}

.volume-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}
